*{
  padding: 0%;
  margin: 0%;
  font-family: arial;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

#fbimg{
  width: 50%;
  height: 100%;
  float: left;
  background-color:#ededed;
}

#fbloginsec{
  max-width: 100%;
  width: 50%;
  height: 600px;  
  float: left;

}

#fbloginimg{
	width: 70%;
	margin-top: 34%;
	margin-left: 30%;
	background-color: #ededed;
	vertical-align: center;
}

#fbimg img{
	width: 75%;
}

#fbimg p{
	font-size: 25px}

#fbloginsec{
	background-color: #ededed;
	
}

#loginsec{
	width: 90%;
	height: 360px;
	margin: auto;
	margin-top: 120px;
	text-align: center;
	border-radius: 6px;
    box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.user{
	margin-top: 20px;
	width: 90%;
	height: 50px;
	font-size: 15px;
	border-radius: 6px;
	border: solid 1px gray;
}

.pass{
	width: 90%;
	height: 50px;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 6px;
	border: solid 1px gray;
}

.loginbtn{
	width: 90%;
	height: 50px;
	background-color: #2f59ed;
	margin-top: 5%;
	border-radius: 6px ;
	border: 2px #2f59ed;
	color: white;
	font-size: 20px;
	font-weight: bold;
}



.newacc{
	width: 50%;
	height: 50px;
	background-color: #08c22d;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	border: 2px #31ad52;
	font-size: 15px;
}

@media (max-width: 600px){
	#fbimg, #fbloginsec, #fbloginimg {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px){
	#fbloginimg, #fbimg  {
   
   margin-top: 0%;
   margin-left: 0%;
   text-align: center;
  }
}
